/* https://stackoverflow.com/a/46549061  Thank u <3 */

.grid {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-auto-rows: 175px;
    margin-left:35%;
    margin-right:35%;

  }

.card{
    border-color: #5bbdea;
    border-style: solid;
    border-width: 5px;
    background-color: #80cbc4;




}

.opened{


}

.closed{


}

.cardPhoto{
    height:175px;
    width:175px;



}

.cardBack{
    height:175px;
    width:175px;



}